---
import BaseLayout from '../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'
const allBooks = await getCollection('books')
---

<BaseLayout pageTitle='Bookshelf'>
  <div class='years-container mt-10 mb-10 mx-auto'>
    <div class='divider-container'>
      <div class='divider mb-3 mt-3'>
        <span>2025</span>
      </div>
      <div class='year_2025_books'>
        <div class='currently_reading_books'>
          <p class='text-gray-400 text-2xl mb-2'>Currently Reading</p>
          <ul>
            {
              allBooks.map((book) => {
                if (book.data.year === 2025 && book.data.status === 'Currently Reading') {
                  return (
                    <li>
                      <span class='text-blue-600'>{book.data.title}</span> By {book.data.author}
                    </li>
                  )
                }
              })
            }
          </ul>
        </div>
        <div class='read_books'>
          <p class='text-gray-400 text-2xl mt-3 mb-2'>Read</p>
          <ul>
            {
              allBooks.map((book) => {
                if (book.data.year === 2025 && book.data.status === 'Read') {
                  return (
                    <li>
                      <span class='text-blue-600'>{book.data.title}</span> By {book.data.author}
                    </li>
                  )
                }
              })
            }
          </ul>
        </div>
        <div class='divider mb-3 mt-3'>
          <span>2024</span>
        </div>
        <div class='year_2024_books'>
          <ul>
            {
              allBooks.map((book) => {
                if (book.data.year === 2024) {
                  return (
                    <li>
                      <span class='text-blue-600'>{book.data.title}</span> By {book.data.author}
                    </li>
                  )
                }
              })
            }
          </ul>
        </div>
        <div class='divider mb-3 mt-3'>
          <span>2023</span>
        </div>
        <div class='year_2023_books'>
          <ul>
            {
              allBooks.map((book) => {
                if (book.data.year === 2023) {
                  return (
                    <li>
                      <span class='text-blue-600'>{book.data.title}</span> By {book.data.author}
                    </li>
                  )
                }
              })
            }
          </ul>
        </div>
      </div>

      <style>
        .divider-container {
          width: 100%;
          margin: 2rem 0;
          text-align: center;
        }

        .divider {
          display: flex;
          align-items: center;
          color: #718096; /* text-gray-600 */
        }

        .divider::before,
        .divider::after {
          content: '';
          flex: 1;
          border-bottom: 1px solid #e2e8f0; /* border-gray-300 */
        }

        .divider::before {
          margin-right: 1rem;
        }

        .divider::after {
          margin-left: 1rem;
        }

        .divider span {
          font-size: 1.25rem;
          font-weight: 600;
          padding: 0 1rem;
        }
      </style>
    </div>
  </div>
</BaseLayout>
